<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar-evento.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
  </head>
  <body>
    
    <div class="editar-evento">
      <b class="editar-feira-de">Editar Feira de Tecnologia</b>
      <div class="um-evento-que">
        Um evento que reúne empresas, empreendedores, especialistas e
        entusiastas do mundo da tecnologia. Nesse evento, também são realizadas
        palestras e apresentaçõesem que especialistas compartilham conhecimentos
        e insights sobre os avanços tecnológicos.
      </div>
      <div class="bottom1">
        <div class="social-media-stack1">
          <img class="twitter-icon1" alt="" src="{{ url_for('static', filename='images/24--twitter1.svg') }}" />

          <img class="twitter-icon1" alt="" src="{{ url_for('static', filename='images/24--instagram.svg') }}" />

          <img class="twitter-icon1" alt="" src="{{ url_for('static', filename='images/24--facebook.svg') }}" />
        </div>
        <div class="helpertext">© 2023 Eventos+</div>
      </div>
      <img class="footer-divider1" alt="" src="{{ url_for('static', filename='images/footer--divider.svg') }}" />

      <form>
        <div class="informaes">Informações:</div>
        
        <input name="funcionamento" class="label2" placeholder="Segunda a Domingo"/>
          
        <input name="data-inicio" class="label3" placeholder="MM/DD/YYYY"/>
        <div class="helper-text1">
          <div class="helpertext">Data de inicio do evento</div>
        </div>

        <input name="data-fim" class="label4" placeholder="MM/DD/YYYY"/>
        <div class="helper-text2">
          <div class="helpertext">Data de fim do evento</div>
        </div>

        <input name="hora-inicio" class="text-input6" type="text" placeholder="hh:mm" />
        <div class="helper-text3">
          <div class="helpertext">Hora de início</div>
        </div>
        <input name="hora-fim" class="text-input7" type="text" placeholder="hh:mm" />
        <div class="helper-text4">
          <div class="helpertext">Hora de fim</div>
        </div>
        <input name="local" class="text-input1" type="text" placeholder="Local"/>
        <input name="preço" class="text-input3" type="text" placeholder="Preço"/>
        <div class="checkbox">
          <input class="checkbox1" type="checkbox" />

          <div class="helpertext">Grátis</div>
        </div>
        <div class="adicionar-novos-palestrantes"> Adicionar novos palestrantes </div>
        <input name="add-participantes" class="text-input2" type="text" placeholder="Email (Separe por virgula se houver mais de um)"/>
        <button type="submit" class="button">
          <div class="editar-evento1">Editar Evento</div>
        </button>
      </form>
      
      <div class="desktop-full-signed-in">
        <div class="wordmark1">
          <b class="eventos1">
            <span>Eventos</span>
            <span class="span1">+</span>
          </b>
        </div>
        <div class="nav-navigation-menu1">
          <div class="nav-list-item2">
            <div class="helpertext">Criar Evento</div>
          </div>
          <div class="nav-list-item3">
            <div class="helpertext">Eventos</div>
          </div>
          <div class="nav-list-item3">
            <div class="helpertext">Meus Eventos</div>
          </div>
          <div class="button1">
            <div class="helpertext">Sign up</div>
          </div>
          <img
            class="header-avatar1"
            alt=""
            src="{{ url_for('static', filename='images/header--avatar1.svg') }}"
          />
        </div>
      </div>
      <div class="descrio">Descrição:</div>
      <div class="modifique-somente-os">
        Modifique somente os campos que deseja editar na página do evento.
      </div>
      <img class="image-2-icon" alt="" src="{{ url_for('static', filename='images/image-2@2x.png') }}" />
    </div>
  </body>
</html>
